<br />
<div class="container">
  <form>
    Name:
    <input
      type="text"
      placeholder="Name"
      [(ngModel)]="aEmp.name"
      [ngModelOptions]="{ standalone: true }"
    />
    Surname:<input
      type="text"
      placeholder="Surname"
      [(ngModel)]="aEmp.surname"
      [ngModelOptions]="{ standalone: true }"
    />
    Role:<input
      type="text"
      placeholder="Role"
      [(ngModel)]="aEmp.role"
      [ngModelOptions]="{ standalone: true }"
    />
    Salary:
    <input
      type="number"
      [(ngModel)]="aEmp.salary"
      [ngModelOptions]="{ standalone: true }"
    />
    <br />
    <button type="submit" class="btn btn-info" (click)="this.updateRegister()">
      Update
    </button>
    <button type="submit" class="btn btn-info" (click)="this.deleteRegister()">
      Remove
    </button>
  </form>
</div>
